@charset "utf-8";
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body, h1, h2, h3, h4, ul, ol, dl, dt, dd {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
}

.wrapper {
	position: relative;
}
.skip_navi .skip_wrap a {
	position: absolute;
	top: 0;
	left: -9999px;
	width: 100%;
	padding: 5px;
	text-align: center;
	background-color: #000;
	color: #fff;
	font-size: 0.750em;
}
.skip_navi .skip_wrap a:focus {
	left: 0;
}


.higher {
	min-width: 1200px;
	height: 40px;
	background-color: #e83023;
}
.higher .higher_inner {
	width: 1200px;
	margin: 0 auto;
}
.higher .higher_inner .location ul {
	float: right;
}
.higher .higher_inner .location ul li {
	display: inline-block;
}
.higher .higher_inner .location ul li a {
	height: 40px;
	line-height: 40px;
	padding: 3px 5px;
	margin: 0 10px;
	font-size: 0.750em;
	color: #fff;
}
.higher .higher_inner .location ul li a.my {
	padding: 3px 10px;
	color: #e83023;
	border-radius: 15px;
	background-color: #fff;
	font-weight: 400;
}

.upper {
	min-width: 1200px;
	position: absolute; /* keyvisual: relative; */
	z-index: 1;
	width: 100%;
	height: 70px;
	overflow: hidden;
	background-color: #fff;
	transition: height 0.3s;
}
.upper.active {
	height: 250px;
}
.upper::after {
	content: "";
	display: block;
	position: absolute;
	top: 69px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}
.upper .upper_inner {
	margin: 0 auto;
	width: 1200px;
	height: 70px;
}
#logo {
	float: left;
	margin-top: 10px;
}
#gnb {
	margin-left: 180px;
}
#gnb > ul {
	float: left;
	text-align: center;
}
#gnb > ul > li {
	position: relative; /* #gnb ul ul li */
	display: inline-block;
}
#gnb > ul > li > a {
	position: relative; /* #gnb ul ul */
	display: block;
	height: 68px;
	padding: 0 5px;
	margin: 0 35px;
	line-height: 68px;
	font-size: 1em;
	color: #000;
}
#gnb > ul > li > a::after {
	content: "";
	display: none;
	position: absolute;
	top: 68px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 2px;
	background-color: #e83023;
}
#gnb > ul > li:hover > a::after,
#gnb > ul > li > a:focus::after,
#gnb > ul > li > a.over {
	display: block;
}
#gnb ul ul {
	position: absolute;
	width: 100%;
	padding: 10px 0;
}
#gnb ul ul > li > a {
	display: block;
	padding: 0 10px;
	line-height: 32px;
	font-size: 0.875em;
}
#gnb ul ul > li:hover > a,
#gnb ul ul > li > a:focus {
	color: #e83023;
}
.img {
	float: right;
	margin-top: 10px;
}

.keyvisual {
	min-width: 1200px;
	margin-top: 70px;
	position: relative;
	width: 100%;
	height: 680px;
	overflow: hidden;
}
.keyvisual .keyvisual_moving {
	position: absolute;
	top: 0;
	left: 0;
	width: 600%;
	height: 680px;
}
.keyvisual .keyvisual_moving li {
	float: left;
	position: relative;
	width: 16.6666%;
	height: 680px;
	overflow: hidden;
}
.keyvisual .keyvisual_moving li video,
.keyvisual .keyvisual_moving li img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1000px;
	width: 2000px;
	height: 680px;
}
.keyvisual .direction a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -60px;
	width: 120px;
	height: 120px;
}
.keyvisual .direction a.left {
	left: 80px;
}
.keyvisual .direction a.right {
	right: 80px;
}
.keyvisual .controlls {
	position: absolute;
	bottom: 100px;
	width: 100%;
	height: 20px;
	text-align: center;
}
.keyvisual .controlls li {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}
.keyvisual .controlls li a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	text-indent: -9999px;
	overflow: hidden;
}
.keyvisual .controlls li.active a {
	background-color: #fff;
}

/* section */
#content_wrap {
	position: relative;
	width: 100%;
	height: 380px;
}
#content_wrap > .content {
	margin: 0 auto;
	width: 1100px;
	height: 368px;
	position: absolute;
	top: -70px;
	left: 50%;
	margin-left: -550px;
}
#content_wrap .content .cont_top {
	width: 1100px;
	height: 184px;
}
#content_wrap .content .cont_top .main_notice {
	float: left;
	width: 274px;
	height: 184px;
	padding: 10px;
	background-color: #efefef;
}
#content_wrap .content .cont_top .main_notice .tab_title ul li {
	display: inline-block;
	padding: 0 5px;
	margin: 5px 0;
}
#content_wrap .content .cont_top .main_notice .tab_title ul li a {
	display: block;
	font-size: 1em;
	color: #999;
}
#content_wrap .content .cont_top .main_notice .tab_title ul li a.active {
	color: #000;
}
#content_wrap .content .cont_top .main_notice .tab_title ul li:first-child {
	border-right: 1px solid #999;
	height: 14px;
	line-height: 14px;
}
#content_wrap .content .cont_top .main_notice .tab_panel ul li {
	margin: 10px 5px;
}
#content_wrap .content .cont_top .main_notice .tab_panel ul li a {
	display: block;
	width: 240px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.875em;
}
#content_wrap .content .cont_top .main_admissions {
	float: left;
	position: relative;
	width: 184px;
	height: 184px;
}
#content_wrap .content .cont_top .main_admissions a img.over {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#content_wrap .content .cont_top .main_admissions a:hover img.over,
#content_wrap .content .cont_top .main_admissions a:focus img.over {
	opacity: 1;
}
#content_wrap .content .cont_top .main_online {
	float: left;
	position: relative;
	width: 184px;
	height: 184px;
}
#content_wrap .content .cont_top .main_online a img.over {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#content_wrap .content .cont_top .main_online a:hover img.over,
#content_wrap .content .cont_top .main_online a:focus img.over {
	opacity: 1;
}
#content_wrap .content .cont_top .main_library {
	float: left;
	position: relative;
	width: 184px;
	height: 184px;
}
#content_wrap .content .cont_top .main_library a img.over {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#content_wrap .content .cont_top .main_library a:hover img.over,
#content_wrap .content .cont_top .main_library a:focus img.over {
	opacity: 1;
}
#content_wrap .content .cont_top .main_campus {
	float: left;
	width: 274px;
	height: 184px;
	padding: 10px;
	background-color: #e5e5dd;
}
#content_wrap .content .cont_top .main_campus .title {
	float: left;
	margin: 10px;
}
#content_wrap .content .cont_top .main_campus .more {
	float: right;
	font-size: 0.750em;
	margin-top: 10px;
	margin-right: 5px;
}
#content_wrap .content .cont_top .main_campus .form {
	position: relative;
	float: left;
	margin: 5px;
}
#content_wrap .content .cont_top .main_campus .form .local {
	width: 230px;
	height: 40px;
	padding: 0 15px;
	margin-bottom: 8px;
	line-height: 40px;
	font-size: 0.875em;
	background-color: #fff;
	border: 1px solid #a79684;
}
#content_wrap .content .cont_top .main_campus .form .local a {
	display: block;
	background: url(../images/sel_arrow1.png) no-repeat right center;
	color: #898989;
}
#content_wrap .content .cont_top .main_campus .form .center {
	width: 230px;
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	font-size: 0.875em;
	color: #fff;
	background-color: #a79684;
}
#content_wrap .content .cont_top .main_campus .form .center a {
	display: block;
	background: url(../images/sel_arrow2.png) no-repeat right center;
	color: #dbd5ce;
}
#content_wrap .content .cont_top .main_campus .form .select {
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 10;
	width: 100%;
	line-height: 40px;
	font-size: 0.875em;
	background-color: #fff;
	border: 1px solid #a79684;
}
#content_wrap .content .cont_top .main_campus .form .select.nth2 {
	height: 200px;
	overflow-x: hidden;
}
#content_wrap .content .cont_top .main_campus .form .select ul li::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #a79684;
}
#content_wrap .content .cont_top .main_campus .form .select ul li:lsat-child::after {
	display: nonev;
}
#content_wrap .content .cont_top .main_campus .form .select ul li a {
	display: block;
	padding: 0 15px;
}
#content_wrap .content .cont_top .main_campus .form .select ul li a:hover,
#content_wrap .content .cont_top .main_campus .form .select ul li a:focus,
#content_wrap .content .cont_top .main_campus .form .select ul li.over a {
	background-color: #e4dfda;
}

#content_wrap .content .cont_bottom .main_brochure {
	float: left;
	width: 274px;
	height: 184px;
	padding: 10px;
	background: url(../images/main_bg1.png) no-repeat 0 0;
	border: 1px solid #efefef;
}
#content_wrap .content .cont_bottom .main_brochure p {
	color: #000;

}
#content_wrap .content .cont_bottom .main_brochure .btn_wrap {
	margin: 25px 10px;
}
#content_wrap .content .cont_bottom .main_brochure .btn_wrap a {
	display: inline-block;
	width: 45px;
	height: 25px;
	font-size: 0.750em;
	color: #fff;
	line-height: 25px;
	text-align: center;
}
#content_wrap .content .cont_bottom .main_brochure .btn_wrap a.type1 {
	background-color: #e83023;
}
#content_wrap .content .cont_bottom .main_brochure .btn_wrap a.type2 {
	background-color: #fff;
	color: #e83023;
}
#content_wrap .content .cont_bottom .title {
	margin: 10px;
	color: #000;
}
#content_wrap .content .cont_bottom .content {
	font-size: 0.750em;
	margin: 10px;
	color: #999;
}
#content_wrap .content .cont_bottom .main_camedia {
	float: left;
	position: relative;
	width: 184px;
	height: 184px;
	padding: 10px;
	border: 1px solid #efefef;
}
#content_wrap .content .cont_bottom .main_camedia .content_1 {
	font-size: 0.750em;
	margin: 10px;
}
#content_wrap .content .cont_bottom .campus_wrap {
	float: left;
	position: relative;
	width: 368px;
	height: 184px;
	overflow: hidden;
	border-bottom: 1px solid #efefef;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 368px;
	height: 300%;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li {
	position: relative;
	width: 368px;
	height: 33.3333%;
	overflow: hidden;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 368px;
	height: 184px;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 147px;
	height: 184px;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li .desc {
	position: absolute;
	top: 0;
	left: 147px;
	z-index: 1;
	width: 60%;
	padding: 10px;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li .desc .title {
	margin: 10px;
	color: #000;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li .desc .content {
	font-size: 0.750em;
	margin: 10px;
	color: #999;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li .desc span {
	font-size: 0.750em;
	margin: 10px;
	color: #000;
}
#content_wrap .content .cont_bottom .campus_wrap .campus_wrap_moving li .more {
	position: absolute;
	bottom: 10px;
	left: 157px;
	z-index: 2;
	width: 70px;
	height: 25px;
	background-color: #e83023;
	color: #fff;
	font-size: 0.750em;
	line-height: 25px;
	text-align: center;
	margin: 10px;
}
#content_wrap .content .cont_bottom .campus_wrap .index {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -15px;
	width: 12px;
	height: 50px;
}
#content_wrap .content .cont_bottom .campus_wrap .index li a {
	display: block;
	width: 6px;
	height: 6px;
	margin: 5px;
	border-radius: 3px;
	background-color: #eee;
	text-indent: -9999px;
	overflow: hidden;
}
#content_wrap .content .cont_bottom .campus_wrap .index li.active a {
	background-color: #e83032;
}


#content_wrap .content .cont_bottom .main_establish {
	float: left;
	width: 274px;
	height: 184px;
	padding: 10px;
	background: 0 0 url(../images/main_bg2.png) no-repeat;
	border: 1px solid #efefef;
}

#footer {
	min-width: 1200px;
	background-color: #f5f5f5;
}
.rel_site {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #fff;
}
.rel_site::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 1px;
	background-color: #e1e1e1;
}
.rel_site::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #e1e1e1;
}
.rel_site .rel_site_inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 60px;
	text-align: center;
}
.rel_site .rel_site_inner .site_wrapper {
	display: inline-block;
	position: relative;
	width: 1016px;
	height: 60px;
	overflow: hidden;
	vertical-align: top;
}
.rel_site .rel_site_inner .site_wrapper ul {
	position: absolute;
	width: 1397px;
}
.rel_site .rel_site_inner .site_wrapper ul li {
	float: left;
	width: 127px;
}
.rel_site .rel_site_inner .direction a {
	display: block;
	width: 9px;
	height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.rel_site .rel_site_inner .direction a.prev {
	left: 10px;
}
.rel_site .rel_site_inner .direction a.next {
	right: 10px;
}
.footer_inner {
	margin: 0 auto;
	width: 1200px;
	padding: 20px 0;
}
.footer_logo {
	float: left;
	width: 140px;
	height: 130px;
	margin-top: 30px;
}
.footer_menu {
	position: relative;
	margin-bottom: 5px;
}
.footer_menu ul li {
	display: inline-block;
}
.footer_menu ul li a {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 24px;
	font-size: 0.750em;
	font-weight: 500;
}
.footer_menu ul li a.first {
	padding-left: 0;
	color: #e83023;
}
.footer_menu ul li a::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
	width: 1px;
	height: 12px;
	background-color: #aaa;
}
.footer_menu ul li:last-child a::after {
	display: none;
}

#footer address span {
	font-style: normal;
}
#footer address .number {
	font-size: 1.125em;
	font-weight: 600;
}
#footer address p {
	font-size: 0.750em;
	font-style: normal;
	color: #aaa;
}
#footer .link a {
	display: inline-block;
	width: 100px;
	padding: 5px;
	text-align: center;
	font-size: 0.750em;
	font-style: normal;
	color: #fff;
	background-color: #e83023;
}
#footer .link a.info {
	width: 70px;
}
#footer .link p {
	font-size: 0.750em;
	font-style: normal;
	color: #aaa;
}


.pop {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}
.pop .video {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 100vh;
}
.video #video {
	display: inline-block;
	max-width: 100%;
	margin-top: 10px;
}
.pop .video .close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 503;
}
.pop .close a {
	display: block;
	width: 30px;
	height: 30px;
	padding: 5px;
}
